.git
docs
rubrica
tests
public
make_commit.py
*.md
src/.env
src/node_modules
src/vendor
src/storage/logs/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
docker/nginx/certs
